@model CapaEntidad.PaginacionViewModel

@{
    ViewBag.Title = "MOVIMIENTOS DE ALMACEN";
}

<h2>MOVIMIENTOS DE ALMACEN</h2>

<p>
    <a href="@Url.Action("Crear", "MovInventario")" class="btn btn-primary">Nuevo Movimiento</a>

</p>
<div>
    @using (Html.BeginForm("Index", "MovInventario", FormMethod.Get))
    {
        <div class="row mb-3">
            <div class="col-md-2">
                <label>Fecha Inicio</label>
                @*<input type="date" name="FechaInicio" class="form-control" value="@Request["FechaInicio"]" />*@
                <input type="date" name="FechaInicio" class="form-control" value="@Request["FechaInicio"]" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-md-2">
                <label>Fecha Fin</label>
                @*<input type="date" name="FechaFin" class="form-control" value="@Request["FechaFin"]" />*@
                <input type="date" name="FechaFin" class="form-control" value="@Request["FechaFin"]" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-md-2">
                <label>Tipo Movimiento</label>
                <input type="text" name="TipoMovimiento" class="form-control" value="@Request["TipoMovimiento"]" />
            </div>
            <div class="col-md-3">
                <label>Nro Documento</label>
                <input type="text" name="NroDocumento" class="form-control" value="@Request["NroDocumento"]" />
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary ">Buscar</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Limpiar</a>
            </div>
        </div>
    }

</div>
<div class="table table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    COD_CIA
                </th>
                <th>
                    COMPANIA_VENTA_3
                </th>
                <th>
                    ALMACEN_VENTA
                </th>
                <th>
                    TIPO_MOVIMIENTO
                </th>
                <th>
                    TIPO_DOCUMENTO
                </th>
                <th>
                    NRO_DOCUMENTO
                </th>
                <th>
                    COD_ITEM_2
                </th>
                <th>
                    PROVEEDOR
                </th>
                <th>
                    ALMACEN_DESTINO
                </th>
                <th>
                    CANTIDAD
                </th>
                <th>
                    DOC_REF_1
                </th>
                <th>
                    DOC_REF_2
                </th>
                <th>
                    DOC_REF_3
                </th>
                <th>
                    DOC_REF_4
                </th>
                <th>
                    DOC_REF_5
                </th>
                <th>
                    FECHA_TRANSACCION
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movimientos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.COD_CIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COMPANIA_VENTA_3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ALMACEN_VENTA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TIPO_MOVIMIENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TIPO_DOCUMENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NRO_DOCUMENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COD_ITEM_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROVEEDOR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ALMACEN_DESTINO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTIDAD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOC_REF_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOC_REF_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOC_REF_3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOC_REF_4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOC_REF_5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA_TRANSACCION)
                        @*@Html.DisplayFor(modelItem => item.FECHA_TRANSACCION.ToString("dd/MM/yyyy"))*@
                    </td>
                    <td>

                        @Html.ActionLink("Editar", "Editar", new
                        {
                                    codCia = item.COD_CIA,
                                    comp = item.COMPANIA_VENTA_3,
                                    alm = item.ALMACEN_VENTA,
                                    tipoMov = item.TIPO_MOVIMIENTO,
                                    tipoDoc = item.TIPO_DOCUMENTO,
                                    nroDoc = item.NRO_DOCUMENTO,
                                    codItem = item.COD_ITEM_2
                                }, new { @class = "btn btn-sm btn-warning" })
                    </td>
                    <td>

                        @Html.ActionLink("Eliminar", "Eliminar", new
                   {
                       codCia = item.COD_CIA,
                       comp = item.COMPANIA_VENTA_3,
                       alm = item.ALMACEN_VENTA,
                       tipoMov = item.TIPO_MOVIMIENTO,
                       tipoDoc = item.TIPO_DOCUMENTO,
                       nroDoc = item.NRO_DOCUMENTO,
                       codItem = item.COD_ITEM_2
                   }, new { @class = "btn btn-sm btn-danger", onclick = "return confirm('¿Está seguro de eliminar?');" })
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
<div class="pagination">
    @if (Model.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1, FechaInicio = Request["FechaInicio"], FechaFin = Request["FechaFin"], TipoMovimiento = Request["TipoMovimiento"], NroDocumento = Request["NroDocumento"] })" class="btn btn-secondary">Anterior</a>
    }

    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <a href="@Url.Action("Index", new { page = i, FechaInicio = Request["FechaInicio"], FechaFin = Request["FechaFin"], TipoMovimiento = Request["TipoMovimiento"], NroDocumento = Request["NroDocumento"] })"
           class="btn btn-secondary @(i == Model.CurrentPage ? "active" : "")">
            @i
        </a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1, FechaInicio = Request["FechaInicio"], FechaFin = Request["FechaFin"], TipoMovimiento = Request["TipoMovimiento"], NroDocumento = Request["NroDocumento"] })" class="btn btn-secondary">Siguiente</a>
    }
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        @if (TempData["Mensaje"] != null)
        {
            var mensaje = TempData["Mensaje"].ToString();
            <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: 'Registro @mensaje correctamente.',
                    timer: 2000,
                    showConfirmButton: false
                });
            </text>
        }
    </script>
}